@page
    <div class="container-fluid-home">
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <br />
        <div class="row">
            <div id="date-time" class="col-12"></div>
        </div>
    </div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

