@page
    <div class="container-fluid-home">
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <br />
        <div class="row">
            <img id="rotating-chicken" class="offset-6" src="~/images/cute-pterodactyl-cartoon_50699.jpg" />
            <div id="date-time" class="col-12"></div>
        </div>
    </div>
    <div id="chicken-outer-container" class="row col-md-12">
        <p class="col-md-1" id="chicken-paragraph">1. Chickens are raised with love and care... &#127803; &#127803; &#127803;</p>
        <div id="chicken-container" class="container col-md-5"></div>
        <p class="col-md-1" id="chicken-paragraph">2. Chickens are packed and ready to go...</p>
        <div id="box-container" class="col-md-5">
        </div>
    </div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="module" src="~/js/main_engine.js"></script>

